<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>New Post</title>
 </head>
 <body>
   <form method="POST" action="/posts">
     <p>Name:<input type="text" name="name"></p>
     <p>Content:<input type="text" name="content"></p>
     <input type="submit" id="submit">
   </form>
 </body>
</html>
